
.container{
    display: flex;
    box-sizing: border-box;
}
:root{
    margin: none;
    padding: none;
    font-family: Okra, Helvetica, sans-serif;
}

.flex{

}

a{
    text-decoration: none;
    display: inline-block;

}